extends layout

block content
    .row
        .col-sm-2
        .col-sm-8
            each user in registered_users
                .row
                    .col-sm-3
                        //TODO: Place the image here
                    .col-sm-5
                        .row
                            p #{user.user.first_name} #{user.user.last_name}
                        .row
                            p #{user.age} years old
                        hr