doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    //TODO:
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      header.header.clearfix
        nav
            ul.nav.nav-pills.pull-right
                if user
                    li(role='presentation')
                        a(href='/') Dashboard
                    li(role='presentation')
                        a(href='/users/logout') Logout
                else
                    li(role='presentation')
                        a(href='/users/login') Login
                    li(role='presentation')
                        a(href='/users/register') Register
        h3.text-muted Home
      main(role='main')
        .row
          .col-lg-12
            block content
      footer.footer
        p © Dating Website 2017
    // /container

