doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  body
    .container
      header.header.clearfix
        nav
            ul.nav.nav-pills.float-right
                if user
                    li.nav-item
                        a.nav-link.active(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/users/browse') Browse
                    li.nav-item
                        a.nav-link(href='/users/messages') Messages
                    li.nav-item
                        a.nav-link(href='/users/profile') Profile
                    li.nav-item
                        a.nav-link(href='/users/logout') Logout
                else
                    li.nav-item
                        a.nav-link(href='/users/login') Login
                    li.nav-item
                        a.nav-link(href='/users/register') Register
        h3.text-muted Dating
      main(role='main')
        .row
          .col-lg-12
              if success_msg.length > 0
                  .alert.alert-success #{success_msg}
              if error_msg.length > 0
                  .alert.alert-danger #{error_msg}
              if error.length > 0
                  .alert.alert-danger #{error}
              block content
      footer.footer
        p © Dating Website 2017
    // /container

