extends layout

block content
    .row
        .col-lg-2
            //TODO: Place for adding user's profile picture
        .col-lg-10
            .col-lg-2
                .form-group
                    label First name
                    input.form-control(type='text', placeholder='Username', name='username')